[scrobbler-lastfm]
user = foo
password_hash = <md5sum here>

[scrobbler-librefm]
user = boo
password_hash = <md5sum here>

[lirc]
keymap = /path/to/some/lircrc/like/streamzap.lirc

[growl]
hostname = foo
password = bar
